.project-image {
  display: block;          /* makes it appear on its own line */
  width: 25%;              /* keeps it small */
  height: auto;            /* keeps proportions */
  margin: 1rem auto;      /* centers it horizontally */
  border-radius: 10px;
}


.project-button {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  margin-top: 0.5rem;
  background-color: #111;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.project-button:hover {
  background-color: #0077ff;
}
